@using ISProject.Models
@model UserCLS

<!--Modal de actividades-->
<div id="mdlCredentials" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content ">
            <div class="modal-header text-center" style="margin-bottom:10px">
                <label class="lbl-30" style="padding-top:20px">Añadir Actividad</label>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <!-- Inicio del cuerpo del Modal-->
            @Html.TextBoxFor(p => p.Email, new { placeholder = "Usuario", value = "", @class = "", })
            <br /><br />
            @Html.PasswordFor(p => p.Password, new { placeholder = "Contraseña", value = "", @class = "tb-dato" })
            <br /><br />
            <div class="modal-footer">
                <button type="button" class="btn btn-rojo btn-margin-left" name="button" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-verde-light" name="button" id="btnSubmit">Añadir</button>
            </div>
        </div>
    </div>
</div>
<!--Button-->
<button type="button" data-toggle="modal" data-target="#mdlCredentials" class="btn btn-verde-light btn-add-act btnAddAct" style="margin-top:10px;width:30%">Do Something</button>