@using ISProject.Models
@model List<ActivityCLS>
<div>
    <table>
        <thead>
            <tr>
                <td width="30%"> Actividad</td>
                <td width="20%"> Producción</td>
                <td width="10%"> Lugar</td>
                <td width="5%"> %Avance</td>
                <td width="5%"> CACEI</td>
                <td width="5%"> Cuerpo academico</td>
                <td width="5%"> ISO 9000</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.actividad</td>
                    <td>@item.produccion</td>
                    <td>@item.lugar</td>
                    <td>@item.porcentaje %</td>
                    <td style="text-align:center">@if (item.cacei){ <label>Si</label> } else { <label>No</label> }</td>
                    <td style="text-align:center">@if (item.cuerpo_academico){ <label>Si</label> } else { <label>No</label> } </td>
                    <td style="text-align:center">@if (item.iso){ <label>Si</label> } else { <label>No</label> }</td>
                </tr>
            }
        </tbody>
    </table>
</div>
