/* Reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after, q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    -webkit-text-size-adjust: none;
}
/* Box Model */

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@font-face {
    font-family: letra;
    src: url(Quicksand-Regular.ttf);
}

p, input, button, a, td, th, label {
    font-family: letra;
}

nav {
    width: 100%;
    background-color: #1A7743;
    position: static;
    z-index: 100;
    min-height: 5vh;
    box-shadow: 0px 0px 20px rgb(32,32,32);
    margin-bottom:25px;
}

    nav ul {
        overflow: hidden;
        margin: 0;
        padding: 0;
    }

        nav ul li {
            float: left;
            width: 12%;
        }

            nav ul li a {
                color: #F9EBEA;
                display: block;
                text-align: center;
                text-decoration: none;
                padding: 10px;
                font-size: 20px;
                /*border: 1px solid white;  borde de las letritas*/
            }

                nav ul li a:hover {
                    background-color: rgba(46,46,46,0.5);
                }

main {
    padding-top: 7vh;
}

footer {
    width: 100%;
    padding: 10px;
    background-color: #1A7743;
    position: absolute;
    bottom: 0px;
    margin-top:20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.table-act {
    margin-left: 30%;
    width: 22%;
}

th, td {
    text-align: left;
    padding: 8px;
    border: 1px solid #C3C2C1;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

th {
    background-color: #FFA734;
    color: black;
}

.border-botton {
    border-bottom: 3px solid #FF007F;
}

.cuadro {
    border-radius: 15px;
    padding: 3vh 2vw;
    text-align: center;
    box-shadow: 10px 10px 30px rgb(32,32,32);
    margin: 1vh 1vw;
}

.renglon {
    display: flex;
    justify-content: space-around;
}

.renglon-2 {
    display: flex;
    justify-content: center;
}

.renglon-3 {
    display: flex;
    justify-content: left;
}

.renglon-center {
    display: flex;
    justify-content: center;
}

.btn {
    display: inline-block;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
    border-radius: 9px;
    padding: 0.2em 0.5em;
}

.btn-margin {
    margin-left: 14%;
}

.btn-margin-left {
    margin-left: 65%;
}

.btn-verde {
    border: 1px solid #1A7743;
    background-color: #1A7743;
    color: white;
}

    .btn-verde:hover {
        background-color: #FFA734;
        color: white;
    }

.btn-verde-light {
    border: 1px solid #20A100;
    background-color: #20A100;
    color: white;
}

    .btn-verde-light:hover {
        background-color: #21790A;
        color: white;
    }

.btn-azul {
    border: 1px solid rgb(0,102,204);
    background-color: white;
}

    .btn-azul:hover {
        background-color: rgb(0,102,204);
        color: white;
    }

.btn-rojo {
    border: 1px solid rgb(204,0,0);
    background-color: rgb(204,0,0);
    color: white;
}

    .btn-rojo:hover {
        background-color: #940404;
        color: white;
    }

.btn-amarillo {
    border: 1px solid #FFA734;
    background-color: #FFA734;
    color: white;
}

    .btn-amarillo:hover {
        background-color: #C57A19;
        color: white;
    }

.tb-dato {
    border: 1px solid black;
    border-radius: 8px;
    font-size: 20px;
    background-color: white;
    padding: 0.2em 0.5em;
}

.lbl {
    font-size: 20px;
}

.lbl-30 {
    font-size: 30px;
}

.left {
    text-align: left;
}

.lbl-bold {
    font-weight: bold;
    font-size: 18px;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.p-blanco {
    color: white;
    font-size: 24px;
}

.p-blanco-min {
    color: white;
    font-size: 20px;
}

.centerImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.rightImage {
    display: block;
    margin-left: auto;
    margin-right: 5px;
}

.colorMenu {
    background-color: rgba(32,32,32,0.5);
}

.time {
    font-size: 14px;
}

.mg {
    margin-left: 5px;
    margin-right: 5px;
}


.dropbtn {
    background-color: #1A7743;
    color: white;
    padding: 8px;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-radius: 2px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1A7743;
    min-width: 140px;
    border-radius: 2px;
    box-shadow: 0px 8px 12px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


    .dropdown-content a {
        color: white;
        padding: 10px 14px;
        text-decoration: none;
        border-radius: 2px;
        display: block;
    }

        .dropdown-content a:hover {
            background-color: #FFA734
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #FFA734;
}

.div-estado {
    border: 10px solid #3EC483;
    background: #5DEAA8;
    height: 100px;
    width: 200px;
    padding: 10px;
    margin: 10px;
}

.mdltxta {
    resize: vertical;
    width:100%;
}

.mdllab{
    width:100px;
    padding-right:9px;
}

.mdlchkbox{
    width:30%;
    text-align:center;
}
