@using ISProject.Models
@model ErrorMessageCLS
@{
    ViewBag.Title = "ErrorMessage_Subdirector";
    Layout = "~/Views/Subdirector/_LayoutSubdirector.cshtml";
}

<h1 style="font-size:24px">@Model.message</h1>

