@using ISProject.Models
@{
    ViewBag.Title = "HomeSubdirector";
    Layout = "~/Views/Subdirector/_LayoutSubdirector.cshtml";
}

<div style="text-align:center">
    <h1 style="font-weight:bold;font-size:26px">Inicio</h1>
</div>
<br />
<div class="site-body">
    <div class="col-md-12">
        <div class="center">
            <h2>Bienvenido al modulo para visualizacion y gestion de los formatos PAAD/IAD<br /> <br /> @(((Docentes)Session["user"]).nombre)</h2>
        </div>
    </div>
</div>