@using ISProject.Models
@model List<RegistroIAD>
@{
    ViewBag.Title = "ListActiveIAADs_Coordinador";
    Layout = "~/Views/Coordinador/_LayoutCoordinador.cshtml";
    List<RegistroIAD> list = (List<RegistroIAD>)ViewBag.list;
    List<SelectListItem> states = (List<SelectListItem>)ViewBag.states;
    List<SelectListItem> careers = (List<SelectListItem>)ViewBag.careers;
}

<div style="text-align:center">
    <h1 style="font-weight:bold;font-size:26px">Listar Formatos Activos: IAAD</h1>
</div>
<br />
<div class="renglon-4" style="display:inline-flex;margin-bottom:30px">

    @using (Ajax.BeginForm("FilterActiveIAADs", null, new AjaxOptions
    {
        HttpMethod = "POST",
        UpdateTargetId = "ListIAADsTable",
        InsertionMode = InsertionMode.Replace
    }, new { id = "frmFilterActive" }))
    {
        <p style="margin-right: 10px; text-align: center;display:inline-flex;font-size:20px">Estado: </p>
        @Html.DropDownList("filter_state", states)
    }
</div>
<div id="ListPAADsTable">
    @Html.Partial("_ListIAADs", list)
</div>

<script>
    document.getElementById("filter_state").onchange = function () {
        $("#frmFilterActive").submit();
    }
</script>
