@using ISProject.Models
@{ Layout = "~/Views/Shared/_Layout.cshtml";}

@{
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="col-md-12">
         <div class="center">
             <h2>Bienvenido <br/> <br /> @(((Docentes)Session["user"]).nombre)</h2>
        </div>
        <div>
            <a href="@Url.Action("ViewPAAD", "VisualizarPAAD", new { id=1 })" > Ver PAAD </a>
        </div>
    </div>
</div>