@using ISProject.Models
@{
    ViewBag.Title = "HomeDirector";
    Layout = "~/Views/Director/_LayoutDirector.cshtml";
}

<div style="text-align:center">
    <h1 style="font-weight:bold;font-size:26px">Inicio</h1>
</div>
<br />
<div class="site-body">
    <div class="col-md-12">
        <div class="center">
            <h2>Bienvenido al modulo para la visualizacion y gestion de los formatos PAAD/IAD <br /> <br /> @(((Administrativos)Session["administ"]).nombre)</h2>
        </div>
    </div>
</div>