@using ISProject.Models
@model List<RegistroPAAD>
@{
    ViewBag.Title = "ListActivePAADs_Director";
    Layout = "~/Views/Director/_LayoutDirector.cshtml";
    List<RegistroPAAD> list = (List<RegistroPAAD>)ViewBag.list;
    List<SelectListItem> states = (List<SelectListItem>)ViewBag.states;
    List<SelectListItem> careers = (List<SelectListItem>)ViewBag.careers;
}

<div class="renglon-4" style="display:inline-flex;margin-bottom:30px">
    
    @using (Ajax.BeginForm("FilterActivePAADs", null, new AjaxOptions
    {
        HttpMethod = "POST",
        UpdateTargetId = "ListPAADsTable",
        InsertionMode = InsertionMode.Replace
    }, new { id = "frmFilterActive" }))
    {
        <p style="margin-right: 10px; text-align: center;display:inline-flex;font-size:20px">Estado: </p>
        @Html.DropDownList("filter_state", states)
        <p style="margin-right: 10px; text-align: center;display:inline-flex;font-size:20px">Carrera: </p>
        @Html.DropDownList("filter_career", careers)
    }
</div>
<div id="ListPAADsTable">
    @Html.Partial("_ListPAADs", list)
</div>

<script>
    document.getElementById("filter_state").onchange = function () {
        $("#frmFilterActive").submit();
    }
    document.getElementById("filter_career").onchange = function () {
        $("#frmFilterActive").submit();
    }
</script>



