@using ISProject.Models
@model List<RegistroPAAD>
@{
    ViewBag.Title = "ListRecordPAADs_Director";
    Layout = "~/Views/Director/_LayoutDirector.cshtml";
    List<RegistroPAAD> list = (List<RegistroPAAD>)ViewBag.list;
    List<SelectListItem> period = (List<SelectListItem>)ViewBag.period;
    List<SelectListItem> careers = (List<SelectListItem>)ViewBag.careers;
}

<div class="renglon-4" style="display:inline-flex;margin-bottom:30px">

    @using (Ajax.BeginForm("FilterRecordPAADs", null, new AjaxOptions
    {
        HttpMethod = "POST",
        UpdateTargetId = "ListPAADsTable",
        InsertionMode = InsertionMode.Replace
    }, new { id = "frmFilterRecord" }))
    {
        <p style="margin-right: 10px; text-align: center;display:inline-flex;font-size:20px">Periodo: </p>
        @Html.DropDownList("filter_period", period)
        <p style="margin-right: 10px; text-align: center;display:inline-flex;font-size:20px">Carrera: </p>
        @Html.DropDownList("filter_career", careers)
    }
</div>
<div id="ListPAADsTable">
    @Html.Partial("_ListPAADs", list)
</div>

<script>
    document.getElementById("filter_period").onchange = function () {
        $("#frmFilterRecord").submit();
    }
    document.getElementById("filter_career").onchange = function () {
        $("#frmFilterRecord").submit();
    }
</script>



