@using ISProject.Models
@{ Layout = "~/Views/Shared/_Layout.cshtml";}

@{
    ViewBag.Title = "PAAD";
}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<body>
    <input type="button" style="margin-top:10px" class="btn btn-verde" value="Agregar Actividad" data-toggle="modal" data-target="#ModalTest" />
    <!--<div id="ModalTest" class="modal fade show" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" style="display: block; padding-right: 17px;"></div> -->
</body>
</html>
