@using ISProject.Models
@model PAADs
@{ Layout = "~/Views/Shared/_Layout.cshtml";}

@{
    ViewBag.Title = "PAADs";
}

<div class="site-body">
    <div class="renglon-4">
        <p style="margin-right: 10px; text-align: center;">Tipo de formato:</p>
        <select name="select" class="">
            <option value="value1" selected> Todos</option>
            <option value="value2"> Periodo</option>
            <option value="value3"> Aprobado</option>
            <option value="value4"> Rechazado</option>
            <option value="value5"> En espera</option>
            <option value="value5"> Solicitud pendiente</option>
        </select>
    </div>
    <div class="p-col">
        @foreach (var paad in ((List<PAADs>)Session["user_paads"]))
        {
            <div style="margin-bottom: 50px;">
                <table class="table-act">
                    <tbody>
                        <tr>
                            <th>Formato: PAAD</th>
                        </tr>
                        <tr>
                            <td>
                                Estado: @paad.estado
                                Periodo: @paad.periodo
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <button type="button" class="btn-amarillo-pdf" style="align-content: center;">@Html.ActionLink("GenerarPDF", "GenerarPDF", "vistaPAAD", new { id = paad.id_paad }, new { @class = "btn-amarillo-pdf"})</button>
                                <button type="button" class = "btn-verde-light" style="align-content: center;">@Html.ActionLink("Visualizar PAAD", "visualizarPAAD", "vistaPAAD", new { id = paad.id_paad }, new { @class = "btn-verde-light" })</button>
                            </th>
                        </tr>
                    </tbody>
                </table><br><br>
            </div>
        }
    </div>

</div>